{% extends "base.html" %}
{% block title %}Blog - {{ entry.title }}{% endblock %}
{% block content %}
    <h2>{{ entry.title }}</h2>
    <span>{{ entry.publishedDate }}</span><a href = "{% url 'entrys:index' %}"> < Atras </a>
    <p>{{ entry.content | safe }}</p>
    <p>{{ error }}</p>
    <form action="{% url 'entrys:commentEntry' entry.id %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="form-group col-3"> 
                <label for="username" class="bmd-label-floating">Nombre</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="form-group col-6">
                <textarea placeholder="Contenido" name="content" class="form-control" id="content" rows="3"></textarea>
            </div>
            <input class="btn btn-raised btn-primary my-3" type="submit" value="comment">
        </div>
    </form>
    {% if comments %}
        {% for comment in comments %}
            <h4>Usuario: {{ comment.username }}</h4>
            <span>{{ comment.publishedDatetime }}</span>
            <p>{{ comment.content }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No hay comentarios.</p>
    {% endif %}
{% endblock %}